<h1>
  <%= @restaurant.name %>
</h1>

<ul>
  <li>
    Address : <%= @restaurant.address %>
  </li>
  <li>
    Phone Number : <%= @restaurant.phone_number %>
  </li>
  <li>
    Food type : <%= @restaurant.category %>
  </li>
</ul>